h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block !important;
  margin: 0 10px !important;
}
a {
  color: #515354 ;
  text-decoration: none ;
}

a:hover{
  color: #515354 !important;  
  text-decoration: none;
}

html{
  height:84% !important;
}

.md-field{
  padding-top: 0px ;
}

.md-field .md-input, .md-field .md-textarea{
  border-bottom: 1px solid !important;
  border-color: beige !important;
  overflow: hidden !important;
}

.md-field .md-theme-default{
  margin-top: -50px ;
}

.md-field .md-textarea{
  max-height: 100% !important;
  height:100% !important;
  overflow: hidden !important;
}

.autogrow{
  overflow: hidden !important;
  position: relative !important;
  /* margin-top: 30px;  */
  margin-left: -25px !important;  
  width:98% !important;
}

.label-primary{
  color:#818486;
  text-align: left;  
  white-space: pre-line;
}

.label-danger{
  color:red;
  background-color: antiquewhite;
  width: 100%;
  text-align: left;
}

.output{
  border-bottom: 1px solid beige;
}

.fa-angle-right:before {
  position: absolute;
  left: -2%;
  top: 0%;
  size: 10px;
}

.fa-angle-left:before{
  position: relative;
  top: 200%;
  left: -100%;
}

.fa-times-circle:before{
  position: relative;
  top: 100%;
  left: -100%;
}

.atwho-wrap{
  display: flex !important;
    width: 97% !important;
}

.atwho-view {
    position: relative !important;
    margin-top: 20% !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #515354 !important;
  color:#fff !important
}

.card-header{
  margin-top: -51px !important;
}

.help{
  margin-top:15px !important;
}

